.dashboard .links a{
    padding:10px 20px 20px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #797575;
    display: block;
    transition: 0.4s;
}

.dashboard{
    border:1px solid #dfe1e2;
    height:300px;
}
.dashboard .links{
    padding:20px;
}
.dashboard a:hover {
    color: black;
    text-decoration:none;
}
.home .header{
        font-size: 15px;

}
