.create-job,.update-job{
    padding-bottom:20px;
    border:1px solid #dfe1e2;
    margin-bottom:30px;
}

.create-job  form,.update-job form{
    margin-top:30px;
}
.create-job form .form-control,.update-job form .form-control{
    width:400px;
}
.create-job form,.create-job .error-message,.update-job form,.update-job .error-message{
    padding-left:10px;
}

.jobs-managing .table-data {
    border:1px solid #dfe1e2;
    min-height:200px;
}


@media screen and (max-width: 587px) {
    .create-job form .form-control,.update-job form .form-control{width:180px;margin-right:10px;}
}
