.update-worker .working-financial-data,.update-worker .personal-data
,.update-worker .documents-data{
    border:1px solid #dfe1e2;
}
.personal-data,.working-financial-data{
    margin-bottom:30px;
}
.update-worker form button{
    margin-top:30px;
}
